.blog-container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.page-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    background-color: tomato;
}

.blog-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px;
}

.blog-card-1{
    text-align: center;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 250px;
}
