.container{

    margin: 10px 350px;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height:80px;
    align-items: center;
    background-image: url(../assets/Whisk_2c381e2514b9b6fb6784d2d384f690f2dr.png);}

